.inicio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 8rem;
  background-color: #faf6ee;
}

  .fio {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #4a6741;
    width: 30%;
    font-size: 1rem;
    }
  .div {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 3rem;
    width: 15%;

    div {
      color: #c8601a;
    }
  }

  .p {
    font-family: "Lora", serif;
    font-weight: 500;
    width: 30%;
    color: #9c6b40;
  }

