.navBar {
  background-color: #e5decf;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 6vh;
  border-bottom: solid 0.1rem #b87b5d;
}

ul {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  list-style: none;
  font-size: 1.3rem;
  margin-right: 1rem;

  li {
    border: solid;
    color: #4a4a44;
  }
}
